@using Scrummage.ViewModels
@model SprintManageViewModel

@{
    ViewBag.Title = "Manage Sprint";
}

<h2>Manage Sprint - @Model.Name (@Model.StartsAt.ToString("d") - @Model.EndsAt.ToString("d")) - Team: @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Scrum board", "Index", 
            new { Model.Id }, 
            new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Statistics", "Statistics", "Sprints", 
            new { id = @Model.Id }, 
            new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("New sprint", "New", "Sprints",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-success btn-block" })
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Events", "Index", "Events",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-warning btn-block" })
    </div>
    <div class="col-lg-offset-2 col-lg-2">
        @using(Html.BeginForm("Delete", "Sprints", FormMethod.Post)) {
            <button id="deleteButton" type="button" class="btn btn-danger btn-block">Delete this sprint</button>
            @Html.HiddenFor(m => m.Id)
        }
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-6">
        <h3>Add new task to backlog</h3>
        <form id="newTask">
            <div class="form-group">
                <label class="control-label">Title (required)</label>
                <input type="text" id="title" name="title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="content" class="control-label">Content with definition of done (required)</label>
                <textarea name="content" id="content" rows="6" class="form-control"></textarea>
            </div>
            <input name="sprintId" type="hidden" value="@Model.Id"/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Sprint Information</h3>
        <form id="sprintForm">
            <div class="form-group">
                <label for="name" class="control-label">Name (required)</label>
                <input type="text" id="name" name="name" value="@Model.Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <textarea id="description" name="description" rows="6" class="form-control">@Model.Description</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<hr/>
<h2>Backlog</h2>
<table id="tasks" class="table table-bordered table-hover vertical-align">
    <thead>
        <tr>
            <th>Title</th>
            <th>Task content</th>
            <th>Who</th>
            <th>Estimation</th>
            <th>Priority</th>
            <th>Delete</th>
            <th hidden>Created at</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    @* Task Row template *@
    <script id="taskRow" type="text/x-handlebars-template">
        @Html.Partial("_TaskRow", new SprintManageTaskRowViewModel
        {
            Users = Model.Users,
            Estimations = Model.Estimations
        })
    </script>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/views/sprints/manage")

    <script>
        loadScrumTasksTableData(@Model.Id);
        bindSprintUpdateEvent(@Model.Id);
        bindSprintDeleteEvent();
        bindScrumTasksCreateEvent();
        bindScrumTasksContentUpdateEvent();
        bindScrumTasksUserUpdateEvent();
        bindScrumTasksEstimationUpdateEvent();
        bindScrumTasksPriorityUpdateEvent();
        bindScrumTasksDeleteEvent();
    </script>
}
