@using System.Collections
@using Microsoft.Ajax.Utilities
@model Scrummage.ViewModels.SprintNewViewModel

@{
    ViewBag.Title = "Create new sprint";
}

<h2>New sprint - Team: @Model.Team.Name</h2>
<hr/>

@using (@Html.BeginForm("Save", "Sprints", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.StartsAt)
                <div class="input-group" date id="start">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(m => m.StartsAt, new {@class="form-control"})
                </div>
                @Html.ValidationMessageFor(m => m.StartsAt)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.EndsAt)
                <div class="input-group" date id="end">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(m => m.EndsAt, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.EndsAt)
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.TeamId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-default">Submit</button>
}

@section scripts
{
    <script>

        $('#start').datetimepicker();
        $('#end').datetimepicker();

        $('#start').datetimepicker();
        $('#end').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#start").on("dp.change", function (e) {
            $('#end').data("DateTimePicker").minDate(e.date);
        });
        $("#end").on("dp.change", function (e) {
            $('#start').data("DateTimePicker").maxDate(e.date);
        });

        @if (ViewBag.TeamHasNoSprints == true)
        {
            @:bootbox.alert("This team doesn't have any sprints. Create first one.");
        }

    </script>
}


