@model Scrummage.Presentation.ViewModels.EventViewModel

@{
    ViewBag.Title = "Events";
}

@Html.Partial("_NewEventModal")

<h2>Events - Team: @Model.Team.Name</h2>
<hr />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Scrum board", "RedirectToNewestSprintForTeam", "Sprints", 
            new { teamId = Model.Team.Id }, 
            new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-lg-2">
        <button data-toggle="modal" data-target="#newEventModal" type="button" class="btn btn-success btn-block">New event</button>
    </div>   
</div>
<hr />
<table id="events" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Event</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
  
    @* Event Row template *@
    <script id="eventRow" type="text/x-handlebars-template">
        @Html.Partial("_EventRow")
    </script>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/views/events/index")
       
    <script>
        loadEventsTableData(@Model.Team.Id);
        bindEventCreateEvent();
        bindDatePicker();
        bindEventDeleteEvent();
    </script>
}
