@using Microsoft.AspNet.Identity
@using Scrummage.Controllers
@using Scrummage.Core

@{
    var userTeamId = @User.Identity.GetDefaultTeamId();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scrummage App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Scrummage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(RoleName.ScrumMaster))
                        {
                            <li>
                                @Html.ActionLink("Manage teams", "Index", "Teams")
                            </li>
                        }
                        if (!string.IsNullOrWhiteSpace(userTeamId))
                        {
                            <li>
                                @Html.ActionLink("Scrum board", "RedirectToNewestSprintForTeam", "Sprints", new {teamId = userTeamId}, null)
                            </li>
                            if (User.IsInRole(RoleName.ScrumMaster))
                            {
                                <li id="newSprintMenuItem" style="display: none;">
                                    @Html.ActionLink("Create new sprint", "New", "Sprints", new {teamId = userTeamId}, null)
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Events", "Index", "Events", new {teamId = userTeamId}, null)
                            </li>
                        }else
                        {
                            <li><a><strong>Choose team first:</strong></a></li>
                        }
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                <div class="navbar-form navbar-nav">
                    <div class="form-group">
                        <select id="teams" class="form-control">
                            <optgroup label="Your teams:"></optgroup>
                            <option value="0">-</option>
                        </select>
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Join", "Join", "Teams")
                    </li>
                </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Scrummage</p>
        </footer>
    </div>

@Scripts.Render("~/bundles/lib")
    
<script>
    $.get('/Api/Teams/GetMyTeams', function (data) {
        data.forEach(function (team) {
            var teamsListElement = $('<option value="' + team.id + '">' + team.name + '</option>');

            if (String(team.id) === '@User.Identity.GetDefaultTeamId()')
                teamsListElement.attr('selected', true);

            teamsListElement.appendTo('#teams');

        });
    });

    $.get('/Api/Teams/IsScrumMasterOfTheTeam/@User.Identity.GetDefaultTeamId()', function (result) {
        if (result === true)
            $('#newSprintMenuItem').show();
    });

    $('#teams').on('change', function () {
        var teamId = $(this).val();
        window.location.href = '/Account/UpdateUserDefaultTeamIdAndRelog?defaultTeamId=' + teamId;
    });
</script>   

@RenderSection("scripts", required: false)
</body>
</html>
