@using Scrummage.Models
@model ScrumTask

<div data-task-id="@Model.Id" class="col-md-6 js-taskbox">
    <div class="panel panel-default">
        <div class="panel-body text-justify">
            @Model.Content
            <div class="task-buttons-board">
                <button data-type-id="@((byte)TaskType.Ongoing)" class="btn btn-sm btn-primary">Ongoing</button>
                <button data-type-id="@((byte)TaskType.Done)" class="btn btn-sm btn-success">Done</button>
                <button data-type-id="@((byte)TaskType.Awaiting)" class="btn btn-sm btn-warning">Await</button>
            </div>
        </div>
        <div class="panel-footer">
            <div>
                <strong>Estimation: </strong>
            </div>
            <div>
                <strong>Took: </strong>
            </div>
        </div>
    </div>
</div> 