@using Scrummage.Models
@model Scrummage.ViewModels.BoardViewModel

@{
    ViewBag.Title = "title";
}
@section fullWidth
{
<h2>Scrum board - @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="col-md-2">
        <select id="sprintsList" class="form-control">
            <option value="0">-</option>
            @foreach (var sprint in @Model.Team.Sprints)
            {
                <option @((@Model.Sprint != null && sprint.Id == @Model.Sprint.Id) ? "selected" : null) value="@sprint.Id">@sprint.Name</option>
            }
        </select>
    </div>
    @if (@Model.Sprint != null)
    {
        <div class="col-md-2">
            @Html.ActionLink("Backlog", "Manage", "Sprint",
                new {id = @Model.Sprint.Id},
                new {@class = "btn btn-primary btn-block"})
        </div>
    }
    <div class="col-md-2">
        @Html.ActionLink("New sprint", "New", "Sprint",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-primary btn-block"})
    </div>
</div>
<hr/> 
@if(@Model.Sprint != null) {
    <table id="scrumBoard" class="table table-bordered table-hover">
        <thead>
        <th>Who</th>
        <th>Tasks</th>
        <th>Ongoing</th>
        <th>Done</th>
        </thead>
        <tbody>
        
        @foreach (var user in Model.Team.Users)
        {
            <tr>
                <td class="scrum-who-col">
                    @user.Name @user.Surname
                </td>
                <td class="scrum-task-col js-@TaskType.Awaiting">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Awaiting))
                    {
                        <div data-task-id="@task.Id" class="col-md-6 js-taskbox">
                            <div class="panel panel-default">
                                <div class="panel-body text-justify">
                                    Task test description
                                    <div class="task-buttons-board">
                                        <button data-type-id="@((byte)TaskType.Ongoing)" class="btn btn-sm btn-primary">Ongoing</button>
                                        <button data-type-id="@((byte)TaskType.Done)" class="btn btn-sm btn-success">Done</button>
                                        <button data-type-id="@((byte)TaskType.Awaiting)" class="btn btn-sm btn-warning">Await</button>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
                <td class="scrum-task-col js-@TaskType.Ongoing">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Ongoing))
                    {
                        <div data-task-id="@task.Id" class="col-md-6 js-taskbox">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Task test description
                                    <div class="task-buttons-board">
                                        <button data-type-id="@((byte)TaskType.Ongoing)" class="btn btn-sm btn-primary">Ongoing</button>
                                        <button data-type-id="@((byte)TaskType.Done)" class="btn btn-sm btn-success">Done</button>
                                        <button data-type-id="@((byte)TaskType.Awaiting)" class="btn btn-sm btn-warning">Await</button>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
                <td class="scrum-task-col js-@TaskType.Done">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Done))
                    {
                        <div data-task-id="@task.Id" class="col-md-6 js-taskbox">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Task test description
                                    <div class="task-buttons-board">
                                        <button data-type-id="@((byte)TaskType.Ongoing)" class="btn btn-sm btn-primary">Ongoing</button>
                                        <button data-type-id="@((byte)TaskType.Done)" class="btn btn-sm btn-success">Done</button>
                                        <button data-type-id="@((byte)TaskType.Awaiting)" class="btn btn-sm btn-warning">Await</button>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
            </tr>
        }
            
        </tbody>
    </table>
}
    
}

@section scripts
{
    
    @Scripts.Render("~/bundles/lib")
    <script>
        $('#scrumBoard').dataTable();

        $('#sprintsList').on('change',
            function () {
                location.href = '/board?teamId=' + @Model.Team.Id + '&sprintId=' + $(this).val();
            });

        $('.task-buttons-board').on('click', 'button', function() {
            var taskType = $(this).attr('data-type-id');
            var taskBox = $(this).parents('.js-taskbox');
            var scrumTaskId = taskBox.attr('data-task-id');

            $.ajax({
                url: '/api/scrumtasks/' + scrumTaskId,
                method: 'put',
                data: { taskType: taskType }
            })
            .done(function() {
                switch(taskType) {
                    case '@((byte)TaskType.Awaiting)':
                        taskBox.fadeOut(400, function() {
                            $(this)
                                .appendTo('.js-@TaskType.Awaiting')
                                .fadeIn(400);
                        });
                        break;
                    case '@((byte)TaskType.Done)':
                        taskBox.fadeOut(400, function() {
                            $(this)
                                .appendTo('.js-@TaskType.Done')
                                .fadeIn(400);
                        });
                        break;
                    case '@((byte)TaskType.Ongoing)':
                        taskBox.fadeOut(400, function() {
                            $(this)
                                .appendTo('.js-@TaskType.Ongoing')
                                .fadeIn(400);
                        });
                        break;
                }
            })
            .fail(function() {
                toastr.error('Something went wrong!');
            });
        });
    </script>
}