@using Scrummage.Models
@model Scrummage.ViewModels.BoardViewModel

@{
    ViewBag.Title = "title";
}
@section fullWidth
{
<h2>Scrum board - @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="col-md-2">
        <select id="sprintsList" class="form-control">
            <option value="0">-</option>
            @foreach (var sprint in @Model.Team.Sprints)
            {
                <option @((@Model.Sprint != null && sprint.Id == @Model.Sprint.Id) ? "selected" : null) value="@sprint.Id">@sprint.Name</option>
            }
        </select>
    </div>
    @if (@Model.Sprint != null)
    {
        <div class="col-md-2">
            @Html.ActionLink("Backlog", "Manage", "Sprint",
                new {id = @Model.Sprint.Id},
                new {@class = "btn btn-primary btn-block"})
        </div>
    }
    <div class="col-md-2">
        @Html.ActionLink("New sprint", "New", "Sprint",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-primary btn-block"})
    </div>
</div>
<hr/> 
@if(@Model.Sprint != null) {
    <table id="scrumBoard" class="table table-bordered table-hover">
        <thead>
        <th>Who</th>
        <th>Tasks</th>
        <th>Ongoing</th>
        <th>Done</th>
        </thead>
        <tbody>
        
        @foreach (var user in Model.Team.Users)
        {
            <tr>
                <td class="scrum-who-col">
                    @user.Name @user.Surname
                </td>
                <td class="scrum-task-col">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Awaiting))
                    {
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Task test description
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
                <td class="scrum-task-col">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Ongoing))
                    {
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Task test description
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
                <td class="scrum-task-col">
                    @foreach (var task in user.ScrumTasks.Where(s => s.TaskType == TaskType.Done))
                    {
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Task test description
                                </div>
                                <div class="panel-footer">
                                    <div><strong>Estimation: </strong>
                                    </div>
                                    <div><strong>Took: </strong>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    }
                </td>
            </tr>
        }
            
        </tbody>
    </table>
}
    
}

@section scripts
{
    
    @Scripts.Render("~/bundles/lib")
    <script>
        $('#scrumBoard').dataTable();     

        $('#sprintsList').on('change',
            function () {
                location.href = '/board?teamId=' + @Model.Team.Id + '&sprintId=' + $(this).val();
            });
    </script>
}