@using Scrummage.Models
@model Scrummage.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Scrum Board";
}
@section fullWidth
{
<h2>Scrum board - @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="col-md-2">
        <select id="sprintsList" class="form-control">
            <option value="0">-</option>
            @foreach (var sprint in @Model.TeamSprints)
            {
                <option @((sprint.Id == Model.Sprint.Id)
                              ? "selected"
                              : null) value="@sprint.Id">@sprint.Name</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Backlog", "Manage", "Sprint",
            new {id = @Model.Sprint.Id},
            new {@class = "btn btn-primary btn-block"})
    </div>
    <div class="col-md-2">
        @Html.ActionLink("New sprint", "New", "Sprint",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-primary btn-block"})
    </div>
</div>
<hr/> 
<table id="scrumBoard" class="table table-bordered table-hover">
    <thead>
    <th>Who</th>
    <th>Tasks</th>
    <th>Ongoing</th>
    <th>Done</th>
    </thead>
    <tbody>
    @foreach (var userWithTasks in Model.UserWithTasks)
    {
        <tr class="js-user-row">
            <td class="scrum-who-col">
                @userWithTasks.Key.Name @userWithTasks.Key.Surname
            </td>
            <td class="scrum-task-col js-@TaskType.Awaiting">
                @foreach (var task in userWithTasks.ToList().Where(s => s.TaskType == TaskType.Awaiting))
                {
                    @Html.Partial("_TaskBox", task);
                }
            </td>
            <td class="scrum-task-col js-@TaskType.Ongoing">
                @foreach (var task in userWithTasks.ToList().Where(s => s.TaskType == TaskType.Ongoing))
                {
                    @Html.Partial("_TaskBox", task);                      
                }
            </td>
            <td class="scrum-task-col js-@TaskType.Done">
                @foreach (var task in userWithTasks.ToList().Where(s => s.TaskType == TaskType.Done))
                {
                    @Html.Partial("_TaskBox", task);                      
                }
            </td>
        </tr>
    }
            
    </tbody>
</table> 
}

@section scripts
{
    @Scripts.Render("~/bundles/lib")
    <script>
        $('#scrumBoard').dataTable();

        $('#sprintsList').on('change',
            function () {
                location.href = '/board?sprintId=' + $(this).val();
            });

        $('.task-buttons-board').on('click', 'button', function() {
            var taskType = $(this).attr('data-type-id');
            var taskBox = $(this).parents('.js-taskbox');
            var scrumTaskId = taskBox.attr('data-task-id');

            $.ajax({
                url: '/api/scrumtasks/' + scrumTaskId,
                method: 'put',
                data: { taskType: taskType }
            })
            .done(function() {
                switch(taskType) {
                    case '@((byte)TaskType.Awaiting)':
                        moveTaskBox(taskBox, '.js-@TaskType.Awaiting');
                        break;
                    case '@((byte)TaskType.Done)':
                        moveTaskBox(taskBox, '.js-@TaskType.Done');
                        break;
                    case '@((byte)TaskType.Ongoing)':
                        moveTaskBox(taskBox, '.js-@TaskType.Ongoing');
                        break;
                }
            })
            .fail(function() {
                toastr.error('Something went wrong!');
            });
        });

        function moveTaskBox(taskBox, destination) {
            taskBox.fadeOut(400, function() {
                $(this)
                    .appendTo($(this).parents('tr.js-user-row').find(destination))
                    .fadeIn(400);
            });
        }
    </script>
}