@model Scrummage.ViewModels.BoardViewModel

@{
    ViewBag.Title = "title";
}
@section fullWidth
{
<h2>Scrum board - @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="col-md-2">
        <select id="sprintsList" class="form-control">
            @foreach (var sprint in @Model.Team.Sprints)
            {
                <option @((sprint.Id == @Model.Sprint.Id) ? "selected" : null) value="@sprint.Id">@sprint.Name</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("New sprint", "New", "Sprint",
            new {teamId = @Model.Team.Id},
            new {@class = "btn btn-primary btn-block"})
    </div>
</div>
<hr/>


    <table id="scrumBoard" class="table table-bordered table-hover">
        <thead>
            <th>Who</th>
            <th>Tasks</th>
            <th>Ongoing</th>
            <th>Done</th>
        </thead>
        <tbody>
        <tr>
            <td class="scrum-who-col">
                Bartek Iskrzycki
            </td>
            <td class="scrum-task-col">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Task test description
                        </div>
                        <div class="panel-footer">
                            <div><strong>Estimation: </strong></div>
                            <div><strong>Took: </strong></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="scrum-task-col"></td>
            <td class="scrum-task-col"></td>
        </tr>
        </tbody>
    </table>    
}

@section scripts
{
    
    @Scripts.Render("~/bundles/lib")
    <script>
        $('#scrumBoard').dataTable();
        

        $('#sprintsList').on('change',
            function () {
                location.href = '/board/' + @Model.Team.Id + '/' + $(this).val();
            });
    </script>
}
