@model Scrummage.ViewModels.ManageSprintTaskRowViewModel
<tr data-task-id="{{id}}" class="js-task-row">
    <td class="task-content-col js-task-content">
        <div class="js-editable" data-toggle="tooltip" title="Click to edit">{{content}}</div>
    </td>
    <td class="selectbox-user-col">
        <select class="form-control js-members">
            {{#select user.id}}
            <option value="0">-</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">
                    @user.Name @user.Surname
                </option>
            }
            {{/select}}
        </select>
    </td>
    <td class="selectbox-params-col">
        <select class="form-control js-estimations">
            {{#select estimation.id}}
            <option value="0">-</option>
            @foreach (var estimaion in Model.Estimations)
            {
                <option value="@estimaion.Id">@estimaion.Value</option>
            }
            {{/select}}
        </select>
    </td>
    <td class="selectbox-params-col">
        <select class="form-control js-priority">
            {{#select priority}}
            <option value="0">-</option>
            @for (var i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
            {{/select}}
        </select>
    </td>
    <td>
        <button class="btn btn-sm btn-default center-block js-delete">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
    <td hidden>
        {{createdAt}}
    </td>
</tr>

