@using Scrummage.Models
@model ScrumTask

<div data-task-id="@Model.Id" class="col-lg-6 js-taskbox" data-toggle="tooltip" title="Drag me!">
    <div class="panel panel-primary">
        <div class="panel-body text-justify">
            @Model.Content
        </div>
        <div class="panel-footer">
            <div>
                <strong>Priority: @Model.Priority</strong>
            </div>
            <div>
                <strong>Estimation: @Model.Estimation.Value</strong>
            </div>
            <div class="js-done" @(Model.TaskType != TaskType.Done ? "hidden" : null)>
                <strong>Took:
                    <js-took>
                        @if (@Model.Took != null)
                        {
                            @Model.Took.Value
                        }
                    </js-took>
                </strong>
            </div>
        </div>
    </div>
</div> 