@using Scrummage.Models
@model Scrummage.ViewModels.SprintBoardViewModel

@{
    ViewBag.Title = "Scrum Board";
}
@section fullWidth
{
<h2>Scrum board - @Model.Team.Name</h2>
<hr/>
<div class="row">
    <div class="container pull-left">
        <div class="col-lg-3">
            <select id="sprintsList" class="form-control">
                <option value="0">-</option>
                @foreach (var sprint in @Model.TeamSprints)
                {
                    <option @((sprint.Id == Model.Id)
                                    ? "selected"
                                    : null) value="@sprint.Id">@sprint.Name</option>
                }
            </select>
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Manage Sprint", "Manage", "Sprint",
                new {id = @Model.Id},
                new {@class = "btn btn-primary btn-block"})
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Statistics", "Statistics", "Sprint",
                new { id = @Model.Id },
                new {@class = "btn btn-primary btn-block"})
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("New Sprint", "New", "Sprint",
                new {teamId = @Model.Team.Id},
                new {@class = "btn btn-success btn-block" })
        </div>
    </div>
</div>
<hr/>
<table id="scrumBoard" class="table table-bordered">
    <thead>
    <tr>
        <th>Who</th>
        <th>Tasks</th>
        <th>Ongoing</th>
        <th>Done</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr class="js-user-row" data-user-id="@user.Id">
            <td class="scrum-who-col">
                @user.Name @user.Surname
            </td>
            <td data-type-id="@((byte)TaskType.Awaiting)" class="scrum-task-col">

            </td>
            <td data-type-id="@((byte)TaskType.Ongoing)" class="scrum-task-col">

            </td>
            <td data-type-id="@((byte)TaskType.Done)" class="scrum-task-col">

            </td>
        </tr>
    }
    </tbody>
</table> 
}

@section scripts
{
    
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/handlebars")

    @* Task Box template *@
    <script id="taskBox" type="text/x-handlebars-template">
        @Html.Partial("_TaskBox")
    </script>

    <script>
        var source = $('#taskBox').html();
        var template = Handlebars.compile(source);
        var table = $('#scrumBoard');

        $.get('/api/ScrumTasks?sprintId=' + @Model.Id + '&onlyActive=true', function (data) {
            data.forEach(function (task) {
                var taskBox = $(template(task));

                if (task.taskType !== @((byte)TaskType.Done))
                    taskBox.find('.js-done').hide();

                var elementPosition = $('.js-user-row[data-user-id=' + task.user.id + ']')
                    .find('.scrum-task-col[data-type-id=' + task.taskType + ']');

                taskBox.appendTo(elementPosition);
            });
        }).done(function() {
            $('.js-taskbox').draggable({
                revert: "invalid",
                start: function(event, ui) {
                    ui.helper.css('z-index', 1);
                    ui.helper.parents('.js-user-row')
                        .children('.scrum-task-col')
                        .droppable('enable');
                },
                stop: function(event, ui) {
                    ui.helper.parents('.js-user-row')
                        .children('.scrum-task-col')
                        .droppable('disable');
                }
            });

            table.dataTable();
        });

        $('#sprintsList').on('change', function () {
            location.href = '/sprint/index/' + $(this).val();
        });

        $('.scrum-task-col').droppable({
            classes: {
                "ui-droppable-hover": "ui-state-hover"
            },
            drop: function (event, ui) {
                var taskType = $(this).attr('data-type-id');
                var taskBox = ui.draggable;
                var scrumTaskId = taskBox.attr('data-task-id');

                if (taskType === taskBox.parents('.scrum-task-col').attr('data-type-id')) {
                    taskBox.removeAttr('style');
                    return;
                }

                if (taskType === '@((byte)@TaskType.Done)') {
                    bootbox.prompt({
                        title: "How much took this task?",
                        inputType: 'select',
                        inputOptions: [
                            @foreach (var estimation in Model.Estimations)
                            {
                                @:{
                                @:    text: @estimation.Value,
                                @:    value: @estimation.Id
                                @:},
                            }
                        ],
                        callback: function (took) {
                            if (took == null) {
                                taskBox.removeAttr('style');
                                return;
                            } else
                                updateScrumTask(taskBox, scrumTaskId, taskType, took);
                        }
                    });
                } else
                    updateScrumTask(taskBox, scrumTaskId, taskType);

            }
        }).droppable('disable');

        function updateScrumTask(taskBox, scrumTaskId, taskType, took) {
            $.ajax({
                    url: '/api/scrumtasks/' + scrumTaskId,
                    method: 'patch',
                    data: { taskType: taskType, tookId: took }
                })
                .done(function(data) {
                    switch(taskType) {
                    case '@((byte)TaskType.Awaiting)':
                        moveTaskBox(taskBox, @((byte)TaskType.Awaiting));
                        break;
                    case '@((byte)TaskType.Done)':
                        moveTaskBox(taskBox, @((byte)TaskType.Done), data.took);
                        break;
                    case '@((byte)TaskType.Ongoing)':
                        moveTaskBox(taskBox, @((byte)TaskType.Ongoing));
                        break;
                    }

                    toastr.success('Task status changed successfully');
                })

                .fail(function() {
                    toastr.error('Something went wrong');
                });
        }

        function moveTaskBox(taskBox, destination, took) {

            console.log(took);

            taskBox.find('js-took').text(took);

            (destination === @((byte)TaskType.Done))
                ? taskBox.find('.js-done').show()
                : taskBox.find('.js-done').hide();

            taskBox
                .appendTo(taskBox.parents('tr.js-user-row').find('.scrum-task-col[data-type-id="' + destination + '"]'))
                .removeAttr('style');
        }
    </script>
}