@using System.Collections
@model Scrummage.ViewModels.SprintNewViewModel

@{
    ViewBag.Title = "title";
}

<h2>New Sprint</h2>
<hr/>

@using (@Html.BeginForm("Save", "Sprint", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="startsAt" class="control-label">Starts at:</label>
                <div class="input-group" date id="startsAt">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input name="startsAt" type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="endsAt" class="control-label">Ends at:</label>
                <div class="input-group" date id="endsAt">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input name="endsAt" type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.TeamId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-default">Submit</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#startsAt').datetimepicker();
        $('#endsAt').datetimepicker();

        $('#startsAt').datetimepicker();
        $('#endsAt').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#startsAt").on("dp.change", function (e) {
            $('#endsAt').data("DateTimePicker").minDate(e.date);
        });
        $("#endsAt").on("dp.change", function (e) {
            $('#startsAt').data("DateTimePicker").maxDate(e.date);
        });

    </script>
}


