@model Scrummage.Models.Team

@{
    ViewBag.Title = "Team details";
}

<h2>Team details - @Model.Name</h2>
<hr/>
@Html.ActionLink("Back to 'Manage Teams'", "Index", "Teams", null, new {@class="btn btn-primary"})
<hr/>

<div class="row">
    <div class="col-md-4">
        <h3>Members</h3>
        <div id="members" class="list-group">
            <div class="list-group-item">
                @Model.ScrumMaster.Name @Model.ScrumMaster.Surname <strong>(Scrum Master)</strong>
            </div>
            @foreach (var member in Model.Users)
            {
                <div class="list-group-item">
                    @member.Name @member.Surname
                    <span data-member-id="@member.Id" class="glyphicon glyphicon-remove js-remove pull-right"></span>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<h3>Add New Member</h3>

<form id="newMemberForm">
    <div class="form-group">
        <div class="tt-container">
            <input id="user" name="user" type="text" class="form-control" />
        </div>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/views/teams/details");

    <script>
        bindUserDeleteEvent(@Model.Id);
        bindUserSearchEvent(@Model.Id);
    </script>
}




